h1+.competence_ligne {
    align-items: center;
    text-align: justify;
    margin-bottom: 30px;
}

.competence_conteneur {
    width: 40%;
}

.competence_ligne_competence {
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}

h1+.competence_ligne div h3:hover {
    color: white;
}

.competence_ligne_competence p {
    font-size: large;
}

.competence_ligne {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.competence_ligne_info {
    width: 50%;
    margin-top: 20px;
    align-items: flex-start;
}

.competence_ligne_titre {
    width: 50%;
    align-items: center;
}

.competence_ligne_image {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.competence_ligne_image img {
    width: 66%;
    height: 100%;
    object-fit: cover;
}

.competence_ligne li {
    font-size: medium;
}

.logo {
    list-style-type: none;
    font-family: "Font Awesome 5 Brands";
}

.logo::before {
    margin-left: 5px;
    margin-right: 15px;
    font-size: x-large;
}

.logo+span {
    font-family: Verdana;
    font-size: x-large;
    font-weight: bold;
}

#algo .logo::before {
    content: "\ec3f";
    font-family: 'boxicons';
}

#competence hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

#competence ul {
    padding-left: 0px;
}

#cpp .logo::before {
    content: "\ee70";
    font-family: 'boxicons';
}

#css .logo::before {
    content: "\f38b";
}

#energique .logo::before {
    content: "\ec26";
    font-family: 'boxicons';
}

#html .logo::before {
    content: "\f13b";
}

#humour .logo::before {
    content: "\ed54";
    font-family: 'boxicons';
}

#initiative .logo::before {
    content: "\ec4c";
    font-family: 'boxicons';
}

#java .logo::before {
    content: "\f4e4";
}

#js .logo::before {
    content: "\f3b9";
}

#math .logo::before {
    content: "\e977";
    font-family: 'boxicons';
}

#mysql .logo::before {
    content: "\ecca";
    font-family: 'boxicons';
}

#nodejs .logo::before {
    content: "\f419";
}

#passion .logo::before {
    content: "\ed36";
    font-family: 'boxicons';
}

#perseverant .logo::before {
    content: "\f6df";
    font-family: "Font Awesome 5 Pro";
}

#php .logo::before {
    content: "\f457";
    font-weight: 900;
}

#python .logo::before {
    content: "\f3e2      ";
}

#travail .logo::before {
    content: "\f6de";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

@media all and (max-width: 1540px) {
    .competence_ligne_info {
        width: 60%;
    }
    .competence_ligne_titre {
        width: 60%;
    }
}

@media all and (max-width: 1280px) {
    .competence_ligne_info {
        width: 70%;
    }
    .competence_ligne_titre {
        width: 70%;
    }
}

@media all and (max-width: 1280px) {
    .competence_ligne_competence h2 {
        width: 100%;
        text-align: center;
    }
    .competence_ligne_info {
        width: 80%;
    }
}

@media all and (max-width: 950px) {
    .competence_ligne_info {
        width: 90%;
    }
}

@media all and (max-width: 850px) {
    hr+.competence_ligne .competence_ligne_image {
        display: none;
    }
    .competence_conteneur {
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .competence_ligne {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .competence_ligne div+div {
        margin-top: 20px;
    }
    .competence_ligne_competence {
        width: 100%;
        text-align: center;
    }
    .competence_ligne_image {
        width: 100%;
    }
    .competence_ligne_image img {
        width: 100%;
    }
    .competence_ligne_titre {
        width: 80%;
    }
}