h1+.competence_ligne {
    align-items: center;
    text-align: justify;
    margin-bottom: 30px;
}

.competence_conteneur {
    width: 40%;
}

.competence_ligne_competence {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
}

h1+.competence_ligne div h3:hover {
    color: white;
}

.competence_ligne_competence p {
    font-size: large;
}

.competence_ligne {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.competence_ligne_info {
    margin-top: 20px;
    align-items: flex-start;
}

.competence_ligne_titre {
    align-items: center;
}

.competence_ligne_image {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.competence_ligne_image img {
    width: 66%;
    height: 100%;
    object-fit: cover;
}

.competence_ligne li {
    font-size: medium;
}

.competence_ligne ul {
    display: none;
}

.logo {
    list-style-type: none;
    font-family: "Font Awesome 5 Brands";
}

.logo::before {
    margin-left: 5px;
    margin-right: 15px;
    font-size: x-large;
}

.logo+span {
    font-family: Verdana;
    font-size: x-large;
    font-weight: bold;
}

#algo .logo::before {
    content: "\ec3f";
    font-family: 'boxicons';
}

#competence hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

#competence ul {
    padding-left: 0px;
}

#cpp .logo::before {
    content: "\ee70";
    font-family: 'boxicons';
}

#css .logo::before {
    content: "\f38b";
}

#html .logo::before {
    content: "\f13b";
}

#java .logo::before {
    content: "\f4e4";
}

#js .logo::before {
    content: "\f3b9";
}

#math .logo::before {
    content: "\e977";
    font-family: 'boxicons';
}

#mysql .logo::before {
    content: "\ecca";
    font-family: 'boxicons';
}

#nodejs .logo::before {
    content: "\f419";
}

#php .logo::before {
    content: "\f457";
    font-weight: 900;
}

#python .logo::before {
    content: "\f3e2      ";
}