form {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica;
}

input+input {
    margin-top: 10%;
}

.input {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

input {
    padding: 5px;
    width: 3fr;
    height: 30px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: large;
}

textarea {
    padding: 5px;
    width: 300px;
    height: 200px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: large;
    text-align: justify;
}

#carte {
    width: 300px;
    height: 250px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: white;
}

#contact_flex {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#contact_grid {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#contact_image {
    width: 25%;
    height: auto;
}

#contact_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#facebook {
    color: var(--couleur-speciale);
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#facebook::before {
    content: "\f09a";
}

#git {
    color: var(--couleur-speciale);
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#git::before {
    content: "\f092";
}

#instagram {
    color: var(--couleur-speciale);
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#instagram::before {
    content: "\f16d";
}

#linkedin {
    color: var(--couleur-speciale);
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#linkedin::before {
    content: "\f0e1";
}

#reseau {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#reseau a {
    margin-left: 20px;
}

#reseau div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}