button {
    margin-top: 5%;
    width: 200px;
    padding: 10px;
    border: solid var(--couleur-speciale) 2px;
    border-radius: 10px;
    background-color: var(--couleur-form);
    font-size: large;
    color: var(--couleur-speciale);
}

button:active {
    width: 180px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: var(--couleur-speciale);
    color: white;
}

form {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica;
}

input {
    padding: 5px;
    height: 30px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: var(--couleur-form);
    color: white;
    font-size: large;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgba(255, 0, 0, 1);
    background-color: white;
    color: black;
}

textarea {
    padding: 5px;
    width: 300px;
    height: 200px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: large;
    text-align: justify;
}

.bordure {
    padding: 5px;
    border-radius: 10px;
}

.bordure:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.bordure:hover input,
.bordure:hover textarea {
    border-color: rgba(255, 0, 0, 1);
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.input div+div {
    margin-top: 10%;
}

#carte {
    width: 300px;
    height: 250px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: white;
}

#contact_flex {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#contact_contenu_flex {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#contact_image {
    width: 25%;
    height: 100%;
}

#contact_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#facebook {
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#facebook::before {
    content: "\f09a";
}

#git {
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#git::before {
    content: "\f092";
}

#instagram {
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#instagram::before {
    content: "\f16d";
}

#linkedin {
    font-family: "Font Awesome 5 Brands";
    font-size: xx-large;
}

#linkedin::before {
    content: "\f0e1";
}

#reseau {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#reseau a {
    margin-left: 20px;
}

#reseau div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

@media all and (max-width: 1200px) {
    #contact_contenu_flex {
        width: 100%;
    }
    #contact_image {
        display: none;
    }
}

@media all and (max-width: 880px) {
    #contact_flex {
        width: 90%;
    }
}

@media all and (max-width: 670px) {
    form {
        flex-direction: column;
    }
    .input+.bordure {
        margin-top: 5%;
    }
}