.experience {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 80% 20%;
    contain: content;
}

.experience img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    grid-row-start: 2;
    grid-row-end: 2;
}

.experience p {
    margin: 0px;
    text-align: justify;
    font-weight: bold;
}

.experience_image {
    z-index: 2;
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.experience:hover .experience_image {
    opacity: 0.5;
}

.experience_details {
    z-index: 1;
    padding: 10px;
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.experience:hover .experience_details {
    z-index: 5;
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.experience_titre {
    padding: 10px;
}

#experience_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1.2fr);
    grid-column-gap: 2.5%;
    grid-row-gap: 2.5%;
    width: 60%;
    height: auto;
}