.experience {
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 80% 20%;
}

.experience img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.experience p {
    margin: 0px;
    text-align: justify;
    font-weight: bold;
}

.experience_descriptif {
    width: 330px;
}

.experience_image {
    z-index: 2;
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.experience:hover .experience_image {
    transition: 0.5s;
    opacity: 0.3;
}

.experience_details {
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.experience_details p {
    padding: 2%;
    width: 96%;
}

.experience:hover .experience_details {
    transition: 1s;
    z-index: 3;
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.experience_titre {
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

#experience_grid {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 339px);
}

@media all and (max-width: 1200px) and (min-width: 830px) {
    #experience_grid {
        grid-template-columns: repeat(2, 370px);
        grid-template-rows: repeat(3, 339px);
    }
}

@media all and (max-width: 830px) {
    #experience_grid {
        grid-template-columns: repeat(1, 370px);
        grid-template-rows: repeat(6, 339px);
    }
}

@media all and (max-width: 400px) {
    .experience_details {
        font-size: medium;
    }
}