a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--couleur-header);
    z-index: 10;
}

a:hover {
    color: var(--couleur-speciale);
}

#accueil {
    padding: 5px;
    border: solid rgba(0, 0, 0, 0) 2px;
    border-radius: 10px;
}

#accueil:hover {
    border: solid var(--couleur-speciale) 2px;
    border-radius: 10px;
}

#etiquette {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}