.rotation {
    width: 422.4px;
    height: 563.2px;
    position: relative;
    border-radius: 10px;
}

.rotation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: all 1s ease;
}

.rotation img:hover {
    transform: rotate(-18deg);
}

#presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#presentation div img {
    object-fit: contain;
}

#presentation_premiere_balise,
#presentation_premiere_balise+p {
    margin-top: 180px;
}