.rotation {
    width: 25%;
    position: relative;
    border-radius: 10px;
}

.rotation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: all 1s ease;
}

.rotation img:hover {
    transform: rotate(-18deg);
}

#presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#presentation div img {
    object-fit: contain;
}

#presentation_premiere_balise,
#presentation_premiere_balise+p {
    margin-top: 180px;
}

@media all and (max-width: 1000px) and (min-width: 680px) {
    #presentation {
        font-size: x-large;
    }
}

@media all and (max-width: 680px) and (min-width: 500px) {
    #presentation {
        font-size: large;
    }
}

@media all and (max-width: 500px) {
    .rotation {
        width: 50%;
    }
    #presentation {
        flex-direction: column;
        font-size: x-large;
    }
    #presentation_premiere_balise+p {
        margin-top: 10px;
    }
}

@media all and (max-width: 440px) {
    #presentation {
        font-size: large;
    }
}