.projet {
    width: 650px;
    height: 180px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 300px 325%;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 25px;
}

.projet a:hover {
    color: var(--couleur-speciale);
    text-decoration: underline;
}

.projet img {
    width: 300px;
    height: 180px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.projet_conteneur {
    padding: 10px;
}

.projet_contenu {
    grid-column-start: 2;
    grid-column-end: 2;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 325px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projet_contenu div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projet_contenu p {
    font-size: large;
    margin: 0px;
}

.projet_git {
    width: 100%;
    text-align: center;
}

.projet_image {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 300px;
    height: 180px;
}

.projet_intitule+p {
    margin-left: 10px;
}

.projet_intitule_langage {
    min-width: 100.08px;
}

.projet_intitule_competence {
    min-width: 136.13px;
}

.projet_intitule_nom {
    min-width: 58px;
}

.projet_intitule_statut {
    min-width: 70.3px;
}

.projet_intitule_git {
    min-width: 47.14px;
}

#projet_grid {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 670px);
    grid-auto-rows: 200px;
}