.projet {
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5%;
    contain: content;
}

.projet a {
    margin-left: 10px;
}

.projet a:hover {
    color: var(--couleur-speciale);
    text-decoration: underline;
}

.projet img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.projet_contenu {
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projet_contenu div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projet_contenu p {
    font-size: large;
    margin: 0px;
}

.projet_image {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    height: auto;
}

.projet_intitule+p {
    margin-left: 10px;
}

.projet_intitule_langage {
    min-width: 100.08px;
}

.projet_intitule_competence {
    min-width: 136.13px;
}

.projet_intitule_statut {
    min-width: 70.3px;
}

.projet_intitule_git {
    min-width: 47.14px;
}

#projet_grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 48.75%);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.5%;
    grid-row-gap: 5%;
}