.projet {
    width: 650px;
    height: 180px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 300px 325px;
    grid-auto-rows: 180px;
    grid-column-gap: 25px;
}

.projet a:hover {
    color: var(--couleur-speciale);
    text-decoration: underline;
}

.projet img {
    width: 300px;
    height: 180px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.projet_conteneur {
    padding: 10px;
}

.projet_contenu {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 10px;
    width: 305px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projet_contenu div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projet_contenu p {
    font-size: large;
    margin: 0px;
}

.projet_decriptif {
    z-index: 1;
    transition: 1s;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    opacity: 0;
    padding: 2%;
    width: 96%;
    font-weight: bold;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.projet_decriptif p {
    margin: 0;
}

.projet_conteneur:hover .projet_decriptif {
    z-index: 3;
    opacity: 1;
}

.projet_decriptif p {
    width: 40;
}

.projet_git {
    width: 100%;
    text-align: center;
}

.projet_image {
    z-index: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 300px;
    height: 180px;
}

.projet_conteneur:hover .projet_image {
    opacity: 0.3;
}

.projet_intitule+p {
    margin-left: 10px;
}

.projet_intitule_langage {
    min-width: 100.08px;
}

.projet_intitule_competence {
    min-width: 136.13px;
}

.projet_intitule_nom {
    min-width: 58px;
}

.projet_intitule_statut {
    min-width: 70.3px;
}

.projet_intitule_git {
    min-width: 47.14px;
}

#projet_grid {
    display: grid;
    grid-template-columns: repeat(2, 670px);
    grid-auto-rows: 200px;
}

@media all and (max-width: 1400px) {
    #projet_grid {
        grid-template-columns: 670px;
    }
}

@media all and (max-width: 790px) {
    .projet {
        width: 325px;
        height: 360px;
        grid-template-columns: 325px;
        grid-template-rows: repeat(2, 180px);
    }
    .projet_image {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        width: 100%;
    }
    .projet_image img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .projet_contenu {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    #projet_grid {
        grid-template-columns: 345px;
        grid-template-rows: repeat(4, 380px);
        grid-row-gap: 30px;
    }
}