li {
    font-size: x-large;
}

.bas::before {
    content: "\e98c";
}

.droite::before {
    content: "\e992";
}

.fleche {
    font-family: 'boxicons';
}

.qui_suis_je_contenu {
    transition: 0.5s;
}

.qui_suis_je_titre {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--couleur-form);
}

.qui_suis_je_titre:hover {
    color: var(--couleur-speciale);
}

.zoom {
    width: 25%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 0;
}

.zoom img {
    object-fit: contain;
    transform: all 1s ease;
}

.zoom img:hover {
    transform: scale(1.25);
}

#qui_suis_je_contenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#qui_suis_je_photo {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#qui_suis_je_texte {
    margin-top: 50px;
    width: 60%;
    text-align: justify;
    font-size: large;
}

#qui_suis_je_texte p {
    font-size: x-large;
}

@media all and (max-width: 1550px) {
    #qui_suis_je_texte {
        width: 80%;
    }
}

@media all and (max-width: 1200px) {
    #qui_suis_je_texte {
        width: 87.5%;
    }
}

@media all and (max-width: 1050px) {
    #qui_suis_je_texte {
        width: 90%;
    }
}

@media all and (max-width: 1000px) {
    .zoom {
        width: 80%;
    }
    #qui_suis_je_contenu {
        width: 80%;
        flex-direction: column;
        justify-content: flex-start;
    }
    #qui_suis_je_contenu ul {
        width: 80%;
    }
    #qui_suis_je_texte {
        width: 95%;
    }
}

@media all and (max-width: 765px) {
    .zoom {
        width: 95%;
    }
    #qui_suis_je_contenu ul {
        width: 95%;
    }
}

@media all and (max-width: 645px) {
    .zoom {
        width: 100%;
    }
    #qui_suis_je_contenu {
        width: 95%;
    }
    #qui_suis_je_contenu ul {
        width: 100%;
    }
}