body {
  background-color: var(--couleur-fond);
  color: white;
  font-family: Helvetica;
}

body div + p {
  margin-left: 30px;
}

body hr {
  margin-top: 100px;
  width: 90%;
}

body h1 {
  color: var(--couleur-speciale);
}

body img {
  border-radius: 10px;
}

body section h1 {
  margin-top: 200px;
  font-size: xx-large;
}

body header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--couleur-header);
  z-index: 10;
}

body header a {
  text-decoration: none;
  color: white;
}

body header a #accueil {
  padding: 5px;
  border: solid rgba(0, 0, 0, 0) 2px;
  border-radius: 10px;
}

body header a #accueil:hover {
  border: solid var(--couleur-speciale) 2px;
  border-radius: 10px;
}

body header a:visited {
  color: white;
}

body header a:hover {
  color: var(--couleur-speciale);
}

body header #menu_conteneur {
  display: none;
}

body header #menu_conteneur #menu_bordure {
  position: fixed;
  top: 36.44px;
  right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid white 2px;
  border-radius: 10%;
}

body header #menu_conteneur #menu::before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

@media all and (max-width: 810px) {
  body header #menu_conteneur {
    display: contents;
  }
}

body header #etiquette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media all and (max-width: 810px) {
  body header #etiquette {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    top: 100px;
    width: 160px;
    border: solid white 2px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--couleur-header);
  }
}

body #presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: xx-large;
}

body #presentation .rotation {
  margin-top: 180px;
  width: 25%;
  position: relative;
  border-radius: 10px;
}

body #presentation .rotation img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: all 1s ease;
          transform: all 1s ease;
}

body #presentation .rotation img:hover {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

@media all and (max-width: 500px) {
  body #presentation .rotation {
    width: 50%;
  }
}

body #presentation p {
  margin-top: 180px;
}

@media all and (max-width: 500px) {
  body #presentation p {
    margin-top: 10px;
  }
}

@media all and (max-width: 1000px) and (min-width: 680px) {
  body #presentation {
    font-size: x-large;
  }
}

@media all and (max-width: 680px) and (min-width: 500px) {
  body #presentation {
    font-size: large;
  }
}

@media all and (max-width: 500px) {
  body #presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: x-large;
  }
}

@media all and (max-width: 440px) {
  body #presentation {
    font-size: large;
  }
}

body .article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .article h1 {
  margin-bottom: 75px;
}

body .article#qui_suis_je #qui_suis_je_contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .article#qui_suis_je #qui_suis_je_contenu ul li {
  font-size: x-large;
}

@media all and (max-width: 1000px) {
  body .article#qui_suis_je #qui_suis_je_contenu ul {
    width: 80%;
  }
}

@media all and (max-width: 765px) {
  body .article#qui_suis_je #qui_suis_je_contenu ul {
    width: 95%;
  }
}

@media all and (max-width: 645px) {
  body .article#qui_suis_je #qui_suis_je_contenu ul {
    width: 100%;
  }
}

body .article#qui_suis_je #qui_suis_je_contenu .zoom {
  width: 25%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 0;
}

body .article#qui_suis_je #qui_suis_je_contenu .zoom img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: all 1s ease;
          transform: all 1s ease;
}

body .article#qui_suis_je #qui_suis_je_contenu .zoom img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media all and (max-width: 1000px) {
  body .article#qui_suis_je #qui_suis_je_contenu .zoom {
    width: 80%;
  }
}

@media all and (max-width: 765px) {
  body .article#qui_suis_je #qui_suis_je_contenu .zoom {
    width: 95%;
  }
}

@media all and (max-width: 645px) {
  body .article#qui_suis_je #qui_suis_je_contenu .zoom {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  body .article#qui_suis_je #qui_suis_je_contenu {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media all and (max-width: 645px) {
  body .article#qui_suis_je #qui_suis_je_contenu {
    width: 95%;
  }
}

body .article#qui_suis_je #qui_suis_je_texte {
  margin-top: 50px;
  width: 60%;
  text-align: justify;
  font-size: large;
}

body .article#qui_suis_je #qui_suis_je_texte h2 .bas::before {
  content: "\e98c";
}

body .article#qui_suis_je #qui_suis_je_texte h2 .droite::before {
  content: "\e992";
}

body .article#qui_suis_je #qui_suis_je_texte h2 .fleche {
  font-family: 'boxicons';
}

@media all and (max-width: 450px) {
  body .article#qui_suis_je #qui_suis_je_texte h2 {
    font-size: x-large;
  }
}

@media all and (max-width: 400px) {
  body .article#qui_suis_je #qui_suis_je_texte h2 {
    text-align: left;
  }
}

body .article#qui_suis_je #qui_suis_je_texte .qui_suis_je_titre {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--couleur-form);
}

body .article#qui_suis_je #qui_suis_je_texte .qui_suis_je_titre:hover {
  color: var(--couleur-speciale);
}

body .article#qui_suis_je #qui_suis_je_texte .qui_suis_je_contenu {
  font-size: x-large;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media all and (max-width: 1550px) {
  body .article#qui_suis_je #qui_suis_je_texte {
    width: 80%;
  }
}

@media all and (max-width: 1200px) {
  body .article#qui_suis_je #qui_suis_je_texte {
    width: 87.5%;
  }
}

@media all and (max-width: 1050px) {
  body .article#qui_suis_je #qui_suis_je_texte {
    width: 90%;
  }
}

@media all and (max-width: 1000px) {
  body .article#qui_suis_je #qui_suis_je_texte {
    width: 95%;
  }
}

body .article#competence hr {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}

body .article#competence h1 + .competence_ligne {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin-bottom: 30px;
}

body .article#competence .competence_ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .article#competence .competence_ligne.competence_ligne_titre {
  width: 50%;
  font-size: x-large;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .article#competence .competence_ligne.competence_ligne_titre div {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .article#competence .competence_ligne.competence_ligne_titre div img {
  width: 66%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 850px) {
  body .article#competence .competence_ligne.competence_ligne_titre div {
    display: none;
  }
}

body .article#competence .competence_ligne.competence_ligne_titre .competence_ligne_competence {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: justify;
}

@media all and (max-width: 1280px) {
  body .article#competence .competence_ligne.competence_ligne_titre .competence_ligne_competence h2 {
    width: 100%;
    text-align: center;
  }
}

body .article#competence .competence_ligne.competence_ligne_titre .competence_ligne_competence p {
  font-size: large;
}

@media all and (max-width: 850px) {
  body .article#competence .competence_ligne.competence_ligne_titre .competence_ligne_competence {
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 1540px) {
  body .article#competence .competence_ligne.competence_ligne_titre {
    width: 60%;
  }
}

@media all and (max-width: 1280px) {
  body .article#competence .competence_ligne.competence_ligne_titre {
    width: 70%;
  }
}

@media all and (max-width: 850px) {
  body .article#competence .competence_ligne.competence_ligne_titre {
    width: 80%;
  }
}

body .article#competence .competence_ligne.competence_ligne_info {
  width: 50%;
  margin-top: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur {
  padding: 10px;
  width: 40%;
  border-radius: 10px;
  background-color: var(--couleur-conteneur);
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur .bas::before {
  content: "\e98c";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur .droite::before {
  content: "\e992";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur .fleche {
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#algo .logo::before {
  content: "\ec3f";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#cpp .logo::before {
  content: "\ee70";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#css .logo::before {
  content: "\f38b";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#energique .logo::before {
  content: "\ec26";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#html .logo::before {
  content: "\f13b";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#humour .logo::before {
  content: "\ed54";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#initiative .logo::before {
  content: "\ec4c";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#java .logo::before {
  content: "\f4e4";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#js .logo::before {
  content: "\f3b9";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#math .logo::before {
  content: "\e977";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#mysql .logo::before {
  content: "\ecca";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#nodejs .logo::before {
  content: "\f419";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#passion .logo::before {
  content: "\ed36";
  font-family: 'boxicons';
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#perseverant .logo::before {
  content: "\f6df";
  font-family: "Font Awesome 5 Pro";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#php .logo::before {
  content: "\f457";
  font-weight: 900;
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#python .logo::before {
  content: "\f3e2      ";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div#travail .logo::before {
  content: "\f6de";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div .logo {
  list-style-type: none;
  font-family: "Font Awesome 5 Brands";
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div .logo::before {
  margin-left: 5px;
  margin-right: 15px;
  font-size: x-large;
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div .logo + span {
  font-family: Verdana;
  font-size: x-large;
  font-weight: bold;
}

@media all and (max-width: 850px) {
  body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur div {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur ul {
  padding-left: 0px;
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur ul li {
  font-size: medium;
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur ul li::marker {
  content: none;
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur:hover .logo {
  color: var(--couleur-speciale);
}

body .article#competence .competence_ligne.competence_ligne_info .competence_conteneur:hover .logo + span {
  color: var(--couleur-speciale);
}

@media all and (max-width: 1540px) {
  body .article#competence .competence_ligne.competence_ligne_info {
    width: 60%;
  }
}

@media all and (max-width: 1280px) {
  body .article#competence .competence_ligne.competence_ligne_info {
    width: 70%;
  }
}

@media all and (max-width: 1280px) {
  body .article#competence .competence_ligne.competence_ligne_info {
    width: 80%;
  }
}

@media all and (max-width: 950px) {
  body .article#competence .competence_ligne.competence_ligne_info {
    width: 90%;
  }
}

@media all and (max-width: 850px) {
  body .article#competence .competence_ligne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .article#competence .competence_ligne div + div {
    margin-top: 20px;
  }
}

body .article#experience #experience_grid {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .article#experience #experience_grid .experience {
  width: 370px;
  height: 339px;
  padding: 10px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
}

body .article#experience #experience_grid .experience .experience_image {
  z-index: 2;
  width: 100%;
  height: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
}

body .article#experience #experience_grid .experience .experience_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .article#experience #experience_grid .experience .experience_details {
  z-index: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
}

body .article#experience #experience_grid .experience .experience_details p {
  padding: 2%;
  width: 96%;
}

@media all and (max-width: 400px) {
  body .article#experience #experience_grid .experience .experience_details {
    font-size: medium;
  }
}

body .article#experience #experience_grid .experience .experience_titre {
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

body .article#experience #experience_grid .experience p {
  margin: 0px;
  text-align: justify;
  font-weight: bold;
}

body .article#experience #experience_grid .experience .experience_descriptif {
  width: 330px;
}

body .article#experience #experience_grid .experience:hover .experience_image {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.2;
}

body .article#experience #experience_grid .experience:hover .experience_details {
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 3;
  width: 100%;
  height: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
}

@media all and (max-width: 1700px) {
  body .article#experience #experience_grid {
    width: 80%;
  }
}

@media all and (max-width: 1500px) {
  body .article#experience #experience_grid {
    width: 90%;
  }
}

@media all and (max-width: 1500px) {
  body .article#experience #experience_grid {
    width: 100%;
  }
}

body .article#projet #projet_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (670px)[2];
      grid-template-columns: repeat(2, 670px);
  grid-auto-rows: 200px;
}

body .article#projet #projet_grid .projet_conteneur {
  padding: 10px;
}

body .article#projet #projet_grid .projet_conteneur .projet {
  width: 650px;
  height: 180px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 325px;
      grid-template-columns: 300px 325px;
  grid-auto-rows: 180px;
  grid-column-gap: 25px;
}

body .article#projet #projet_grid .projet_conteneur .projet a {
  text-decoration: none;
  color: white;
}

body .article#projet #projet_grid .projet_conteneur .projet a:visited {
  color: white;
}

body .article#projet #projet_grid .projet_conteneur .projet a:hover {
  color: var(--couleur-speciale);
  text-decoration: underline;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_image {
  z-index: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  width: 300px;
  height: 180px;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_image img {
  width: 300px;
  height: 180px;
  border-radius: 10px 0px 0px 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 790px) {
  body .article#projet #projet_grid .projet_conteneur .projet .projet_image {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
  }
  body .article#projet #projet_grid .projet_conteneur .projet .projet_image img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  padding: 10px;
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu div .projet_intitule + p {
  margin-left: auto;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu div .projet_intitule.projet_intitule_langage {
  min-width: 100.08px;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu div .projet_intitule.projet_intitule_nom {
  min-width: 58px;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu p {
  font-size: large;
  margin: 0px;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu p.projet_git {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media all and (max-width: 790px) {
  body .article#projet #projet_grid .projet_conteneur .projet .projet_contenu {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_decriptif {
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  opacity: 0;
  padding: 2%;
  width: 96%;
  font-weight: bold;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .article#projet #projet_grid .projet_conteneur .projet .projet_decriptif p {
  margin: 0px;
  width: 40px;
}

@media all and (max-width: 790px) {
  body .article#projet #projet_grid .projet_conteneur .projet {
    width: 325px;
    height: 360px;
    -ms-grid-columns: 325px;
        grid-template-columns: 325px;
    -ms-grid-rows: (180px)[2];
        grid-template-rows: repeat(2, 180px);
  }
}

body .article#projet #projet_grid .projet_conteneur:hover .projet_image {
  opacity: 0.3;
}

body .article#projet #projet_grid .projet_conteneur:hover .projet_decriptif {
  z-index: 3;
  opacity: 1;
}

@media all and (max-width: 1400px) {
  body .article#projet #projet_grid {
    -ms-grid-columns: 670px;
        grid-template-columns: 670px;
  }
}

@media all and (max-width: 790px) {
  body .article#projet #projet_grid {
    -ms-grid-columns: 345px;
        grid-template-columns: 345px;
    -ms-grid-rows: (380px)[4];
        grid-template-rows: repeat(4, 380px);
    grid-row-gap: 30px;
  }
}

body .article#contact #reseau {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .article#contact #reseau p {
  font-size: x-large;
}

body .article#contact #reseau div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .article#contact #reseau div a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

body .article#contact #reseau div a#facebook {
  font-family: "Font Awesome 5 Brands";
  font-size: xx-large;
}

body .article#contact #reseau div a#facebook::before {
  content: "\f09a";
}

body .article#contact #reseau div a#git {
  font-family: "Font Awesome 5 Brands";
  font-size: xx-large;
}

body .article#contact #reseau div a#git::before {
  content: "\f092";
}

body .article#contact #reseau div a#instagram {
  font-family: "Font Awesome 5 Brands";
  font-size: xx-large;
}

body .article#contact #reseau div a#instagram::before {
  content: "\f16d";
}

body .article#contact #reseau div a#linkedin {
  font-family: "Font Awesome 5 Brands";
  font-size: xx-large;
}

body .article#contact #reseau div a#linkedin::before {
  content: "\f0e1";
}

body .article#contact #reseau div a:visited {
  color: white;
}

body .article#contact #reseau div a:hover {
  color: var(--couleur-speciale);
}

body .couleur_speciale {
  color: var(--couleur-speciale);
}

body .gras {
  font-weight: bold;
}

:root {
  --couleur-speciale: red;
  --couleur-fond: rgba(0, 0, 0, 0.9);
  --couleur-header: rgba(0, 0, 0, 0.8);
  --couleur-form: rgba(0, 0, 0, 0.4);
  --couleur-conteneur: rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=style.css.map */