body {
    background-color: var(--couleur-fond);
    color: white;
    font-family: Verdana;
}

div+p {
    margin-left: 30px;
}

hr {
    margin-top: 100px;
    width: 90%;
}

h1 {
    color: var(--couleur-speciale);
}

img {
    border-radius: 10px;
}

section h1 {
    margin-top: 200px;
    font-size: xx-large;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.article h1 {
    margin-bottom: 75px;
}

.couleur_speciale {
    color: var(--couleur-speciale);
}

.gras {
    font-weight: bold;
}

:root {
    --couleur-speciale: red;
    --couleur-fond: rgba(0, 0, 0, 0.9);
    --couleur-header: rgba(0, 0, 0, 0.6);
    --couleur-form: rgba(0, 0, 0, 0.4);
    --couleur-conteneur: rgba(0, 0, 0, 0.4);
}