a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

body {
    background-color: var(--couleur-fond);
    color: white;
    font-family: Verdana;
}

div+p {
    margin-left: 30px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--couleur-header);
    z-index: 10;
}

hr {
    margin-top: 100px;
    width: 90%;
}

h1 {
    color: var(--couleur-speciale);
}

h3:hover {
    color: var(--couleur-speciale);
}

img {
    border-radius: 10px;
}

li {
    font-size: x-large;
}

section h1 {
    margin-top: 200px;
    font-size: xx-large;
}

.couleur_speciale {
    color: var(--couleur-speciale);
}

.rotation {
    width: 422.4px;
    height: 563.2px;
    position: relative;
    border-radius: 10px;
}

.rotation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: all 1s ease;
}

.rotation img:hover {
    transform: rotate(-18deg);
}

.zoom {
    width: 25%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 0;
}

.zoom img {
    object-fit: contain;
    transform: all 1s ease;
}

.zoom img:hover {
    transform: scale(1.25);
}

#accueil {
    padding: 5px;
    border: solid rgba(0, 0, 0, 0) 2px;
    border-radius: 10px;
}

#accueil:hover {
    border: solid var(--couleur-speciale) 2px;
    border-radius: 10px;
}

#etiquette {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

#presentation {
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#presentation div img {
    object-fit: contain;
}

#qui_suis_je {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#qui_suis_je_contenu {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#qui_suis_je_photo {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#qui_suis_je_texte {
    margin-top: 50px;
    width: 60%;
    text-align: justify;
    font-size: large;
}

:root {
    --couleur-speciale: red;
    --couleur-fond: rgba(0, 0, 0, 0.9);
    --couleur-header: rgba(0, 0, 0, 0.6);
}