body {
    background-color: var(--couleur-fond);
    color: white;
    font-family: Verdana;
}

div+p {
    margin-left: 30px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--couleur-header);
    z-index: 10;
}

hr {
    margin-top: 100px;
    width: 90%;
}

h1 {
    color: var(--couleur-speciale);
}

h3:hover {
    color: var(--couleur-speciale);
}

img {
    border-radius: 10px;
}

.base_zoom {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 0;
}

.couleur_speciale {
    color: var(--couleur-speciale);
}

.zoom {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.zoom img {
    transform: all 1s ease;
}

.zoom:hover img {
    transform: scale(1.25);
}

#accueil {
    padding: 5px;
    border: solid var(--couleur-header) 2px;
    border-radius: 10px;
}

#accueil:hover {
    border: solid var(--couleur-speciale) 2px;
    border-radius: 10px;
}

#etiquette {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

#presentation {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

:root {
    --couleur-speciale: red;
    --couleur-fond: rgba(0, 0, 0, 0.9);
    --couleur-header: rgba(0, 0, 0, 0.6);
}